.rose {
    margin-left: 26%;
    margin-top: 20px;
}

.caterp {
    margin-top: 20px;
    margin-left: 36.9%;
}

.kaitlin {
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
}

.grads {
    margin-top: 20px;
    margin-left: 26%;
}

.sunset {
    margin-top: 20px;
    margin-left: 27%;
}